html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(255, 244, 244);
}

div>h1{
  color: black;
  align-items: center;
}

div{
  color: black;
  display: inline-block;
  justify-content: end;
}

ul {
  list-style: none;
  display: inline-block;

  li {
    margin-left: 10px;
    color: black;
    font: "Monospace";
  }
  img{
    margin-left: 15px;
    border-radius: 1cm;
  }
}