<h1>WAPIX</h1>
<br>
<div>La idea es el desarrollo de la aplicación Wapix, herramienta que servirá para la creación, edición y difusión quizzes virtuales o Wapix entre 1 o más personas en una modalidad competitiva. Similar en funcionamiento de la aplicación existente llamada Kahoot, pero ofreciendo funcionalidades que por default no son gratuitas en la aplicación antes mencionada
Así mismo, se planea tener una cobertura en dispositivos móviles y computadoras, tanto en modalidad de aplicación web como de aplicación de escritorio (únicamente en computadoras). </div>
<ul>Integrantes:
  <li>Gustavo Rueda</li>
  <li>Stompercito come riata</li>
  <li>Aristofanes Cruz</li>
</ul>