
<h1>WAPIX</h1>

<p>
  El nombre "Wapix" nace del apodo de Gus, "Wapi". El nombre entre todas las ideas que estábamos teniendo, resulta el más atractivo para una página de encuestas apta para todo público.
</p>

<p>
  La idea es el desarrollo de la aplicación Wapix, herramienta que servirá para la creación, edición y difusión quizzes virtuales o Wapix entre 1 o más personas en una modalidad competitiva. Similar en funcionamiento de la aplicación existente llamada Kahoot, pero ofreciendo funcionalidades que por default no son gratuitas en la aplicación antes mencionada
  Así mismo, se planea tener una cobertura en dispositivos móviles y computadoras, tanto en modalidad de aplicación web como de aplicación de escritorio (únicamente en computadoras).
</p>

<div class="grid">
  <div class="sm-33 md-33 lg-33">
    <img src="https://scontent.fgdl5-1.fna.fbcdn.net/v/t1.0-9/91073458_2949001741825408_7451882882647195648_o.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFHHjy_HTlzMczzeT55NQ1Yr70ogGDxfL6vvSiAYPF8vu4JA8S5-NvqmvVapgS1-yB2awdkrk2vzKlx3rx-WIFE&_nc_ohc=K5CXLFyNgdYAX9PLo-U&_nc_ht=scontent.fgdl5-1.fna&oh=4adba8fec1b1823b62e680fa1d715244&oe=5FB96FFA"></img>
    <h3>Gustavo Adolfo Rueda Enríquez</h3>
  </div>

  <div class="sm-33 md-33 lg-33">
    <img src="https://scontent.fgdl5-1.fna.fbcdn.net/v/t1.0-9/74492572_2665260153505118_4600984789581824000_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHKFwq9PhQ7Dg6BY67zPiN45tdSQ3OWyoPm11JDc5bKgxrbeUsmWtftds7l3jLGnJ-Yw1Me3ouaZ5TnHje4YeVa&_nc_ohc=xpUgJwqMgv8AX-z1DUo&_nc_ht=scontent.fgdl5-1.fna&oh=74a9a8168c19725a5af0a6e5641c08fa&oe=5FB7A506"></img>
    <h3>Luis David Gallegos Godoy</h3>
  </div>

  <div class="sm-33 md-33 lg-33">
    <img src="https://scontent.fgdl5-1.fna.fbcdn.net/v/t1.0-9/39388077_2535394113168098_1315713671501971456_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFz-ycs8CraIZgysvaXiD-2oaL26vWaxqOhovbq9ZrGo7rmqJ3msmX-2HUIg1GI0PdXUksEsLtqWvufHrMycvfS&_nc_ohc=g1op8GUeqGwAX-cgpAq&_nc_ht=scontent.fgdl5-1.fna&oh=a4a23e029756fad38d789b20605853d5&oe=5FB77600"></img>
    <h3>Aristófanes Cruz Huante</h3>
  </div>

  <form method="post" enctype="multipart/form-data" action="/upload">
    <p>
        <input type="text" name="title" placeholder="optional title"/>
    </p>

    <p>
        <input type="file" name="upl"/>
    </p>

    <p>
        <input type="submit"/>
    </p>
</form>
</div>